# Starter Projects
Atari System 1 TTL.slice
Konami GX400.slice
Millipede (A038874).slice
Star Wars.slice


# ROM Files
*.bin


# Test Failure PNGs
*F.png


# Editor files
*.sublime-project
*.sublime-workspace


# macOS litter
.DS_Store
._*
